<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @blog.titre %>
</p>

<p>
  <strong>Texte:</strong>
  <%= @blog.texte %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
